<section class="section">
  <div class="container">
    <h1 class="title">{{{title}}}</h1>

    <div class="columns">
      <div class="column is-half content">
        <h2 class="title is-4">Parks</h2>

        <ul id="park-list">
          {{#each parks as |park|}}
            <li>
              <span class="park-name">{{park.name}}</span>
              <button class="button is-small show-on-map" data-park-id="{{park.id}}">Show on map</button>

              <ul>
                {{#each events as |event|}}
                  <li><a href="/event/{{event.id}}">{{event.time}}</a></li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      </div>

      <div class="column is-half">
        <h2 class="title is-4">Map</h2>

        <div id="map" class="is-fullwidth"></div>
      </div>
    </div>
  </div>
</section>

<script>
  const parks = {{{parksJson}}};
</script>
<script src="/js/day.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtEDdN0-B2gjvrFrQ1qIAaMklPbm7YUTM&callback=initMap"></script>